@using Todolist.Models
@model TodolistModel
@{
    Layout = null;
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure"
    };
}
<script src="@Url.Content("~/Scripts/custom-validator.js")"></script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>
    @using (Ajax.BeginForm("Edit", "Todolist", FormMethod.Post, ajaxOptions, new { @class = "form", @id = "AjaxForm", role = "form" }))
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.TodolistId)
            <div class="form-group">
                @Html.LabelFor(model => model.TaskDescription)
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.TaskDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBox("Approved", false)
                    Задача решена
                </label>
            </div>
            <div class="form-group">
                <div id="Results" class="text-success"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" id="Submit" value="Save" class="btn btn-success" />
        </div>
    }
</div>


